.send_message {
  height: 50px;
      /*width: 90%;*/
      background-color: #a7cfff; 

  & > input[type="text"]{
    background-color: #f5f5f5;
    width: 550px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: cursive;
    border: none;
    border-top: 1px solid #a7cfff;
  }

  & > textarea:focus {
    border: none;
    border-top: 1px solid #a7cfff;

    outline: none;
  }

}

