.menu{
	padding-top: 10px;
	/*border:1px solid green;*/
	position: relative;
	font-family: cursive;
	color:white;
	font-size: 18px;

	&_exit{
		position: absolute;
		right: 20px;
		
		& a{
			color:white;
			text-decoration: none;
		}	
	}
	
	&_user{
		position: absolute;
		left: 20px;

	}

	&_add{
		position: absolute;
		left: 100px;
		cursor: pointer;
	}
}