.dialogs{
	background-color:white;
	width: 250px;
	height: 100%;
	border-right:1px solid #a7cfff;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 1px; 

	h4{
		text-align: center;
		color: #a7cfff;
		font-size: cursive;
	}
}